<a href="https://colab.research.google.com/github/aniruddhochat/ADT/blob/main/hwk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1

- D-532 Spring 23
- Aniruddho Chatterjee

## Part 1 Import tables - 25pts

Step 1. Create db named hwk1.

In [19]:
import sqlite3
import pandas as pd

In [3]:
conn=sqlite3.connect('hwk1.db')
c=conn.cursor()

Step 2. Import ``income.csv``

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
read_income = pd.read_csv(r'/content/drive/MyDrive/ADT/income.csv')
read_income.to_sql('income', conn, if_exists='append', index = False)

Step 3. Print Column names. Note - cursor with query execution has been created. Add code to extract column names.
- All_weekly = average weekly income
- M_weekly = Male employees weekly income
- F_weekly = Female employees weekly income

In [10]:
colnames = c.description
for row in colnames:
    print(row[0])

Occupation
Industry
All_workers
All_weekly
M_workers
M_weekly
F_workers
F_weekly

Step 4. Select records where weeklly income (All_weekly) is greater than 2000

In [11]:
for row in c.execute('''
select * from income where all_weekly>2000
'''):
    print(row)

('Chief executives', 'Management', 1046, 2041, 763, 2251, 283, 1836)

Step 5. Select occupations and average weekly income in Business industry  and where Female employees weekly income is greater than male employees weekly income. Convert results into dataframe and name columns as Job and Income.

In [16]:
c.execute('''
select occupation,all_weekly from income 
where F_weekly>M_weekly and industry='Business'
''')

df = pd.DataFrame(c.fetchall(), columns=['Job',
'Income'])
print(df)

                                                 Job  Income
0  Wholesale and retail buyers, except farm products     926

Step 6. You need to print the list of industries used in your database. Like you would use set() in python, you will use ```distinct``` with your column name to remove duplicate names. Print the results.

In [18]:
c.execute('''
select distinct industry from income
''')

df = pd.DataFrame(c.fetchall(), columns=['Industry'])
print(df)

                   Industry
0                Management
1   Healthcare Professional
2                     Legal
3               Engineering
4             Computational
5                  Business
6                      Arts
7                   Science
8                 Education
9        Protective Service
10           Social Service
11                    Sales
12                   Office
13                  Service
14           Transportation
15               Production
16           Groundskeeping
17                 Culinary
18       Healthcare Support
19             Agricultural

Step 7. Close cursor and connection

In [ ]:
conn.close()

## Part 2. Database Design - 25pts

Q1. If you design a database schema for income data, which attribute(s) would you choose as a primary key? And why?

Answer: After analysing the income data, it is evident that all the occupations are unique, hence occupation can be assigned as PK. However, if two different industries have an occupation in common so we cannot keep Occupation alone as PK, then in that case we need to keep the combination of Occupation and Industry as Primary Key.

Q2. You decided to redisign income database and split into several tables. What changes would you implement?

Answer: 
The income data can initially be split into 3 tables containing 
*   ALL Weekly income corresponding to Occupation and Industry.
*   Male Weekly income corresponding to Occupation and Industry.
*   Female Weekly income corresponding to Occupation and Industry.

This can further be expanded into 
*   Industry wise summation of All weekly income.
*   Occupation wise summation of All weekly income.
*   Industry wise summation of Male weekly income.
*   Occupation wise summation of Male weekly income.
*   Industry wise summation of Female weekly income.
*   Occupation wise summation of Female weekly income.

Note for submission: convert to PDF and submit